/*Global styles*/

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Overpass', sans-serif;
    font-size: 18px;
}
section {
	padding: 5rem 0;
}
li
{
    display: initial;

    list-style: none;
}
a
{
    text-decoration: none;
}

p
{
    font-family: 'Raleway';
    font-size: 1.25rem;
}

.nav-open
{
    z-index: 5;

    width: 100%;

    background: linear-gradient(to bottom right,
    rgba(220, 66, 37, 1),
    rgba(0, 47, 75, 1));
}
.container-fluid
{
    padding: 0;
}

.content
{
    font-family: 'Raleway', sans-serif;

    width: 90%;
    margin: auto;
}
.wrapper
{
    width: 1440px;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.row-wrapper
{
    margin-top: 5em;
}
#menu-button
{
    position: fixed;
    z-index: 3;

    width: 100%;
    height: auto;

    text-align: center;
}

nav
{
    position: fixed;
    z-index: -1;
    left: 0;

    display: flex;

    width: 75%;
    height: auto;

    transition: .3s;

    background: linear-gradient(to bottom right,
    rgba(220, 66, 37, 0),
    rgba(0, 47, 75, 0));

    justify-content: flex-end;
}

nav a
{
    font-size: 1.2em;

    float: right;

    width: 100%;
    padding: 1em 1.25em;

    transition: .4s;

    color: #fff;
}
#close-menu
{
    text-align: right;
}

/*Hero section styles*/

.hero
{
    position: relative;

    width: 100%;
    height: auto;
    margin: auto;
    /*display: inline-flex;*/
    padding: 1vh;

    color: #fff;
    background: rgba(0,0,0,0) url('./assets/Optimized-helloquence-61189.jpg') no-repeat center center fixed;
    background: linear-gradient(to bottom right,
    rgba(220, 66, 37, .5),
    rgba(0, 47, 75, .5)),
    url('./assets/Optimized-helloquence-61189.jpg') no-repeat center center fixed;
    background-size: cover;
}

.hero-text-wrapper
{
	height: auto;
    max-width: 31em;
    margin: auto;
    padding-top: 10vh;
    text-align: left;
}


.hero-text-wrapper h1
{

    font-size: 5rem;
    line-height: 1.25em;
}

.hero-text-wrapper h2
{
    /*	font-size: 2rem;*/
    margin: 2.5em 0;
}
.text-wrapper{
	margin: auto;
	max-width: 30rem;

}
.center-wrapper
{
    text-align: center;
}

.square-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-to-action
{
	display: block;
    font-family: Arial;
    font-size: 1.5rem;

    width: 200px; 
    margin: 1rem 0;
    
    padding: 1rem 2rem;

    transition: .3s;
    text-decoration: none;
    text-align: center;

    color: #fff;
    background: #f44336;
}

.call-to-action:hover
{
    transition: .3s;

    background: #3cfc49;
    background: #4caf50;
}
.down-arrow
{
    position: absolute;
    bottom: 105px;
    left: 50%;

    margin-left: -13px;
}


/*Services Styles*/

#services
{
    /*position: relative;*/
    /*background: grey;*/

/*    padding: 2em 0 6.5em 0;*/
    /*	text-align: center;
*/
}

/*#services .title*/
.title
{
    font-size: 3rem;

    display: block;

    margin: auto;
    padding: 1.5rem;

    text-align: center;

    color: #002f4b;;
}
.service
{
    width: 100%;
    padding: 3rem 1rem;

    border-radius: .35px;
    background: #fff;
    box-shadow: 0 10px 57px 0 rgba(4, 6, 9, .25);
}
.service h3
{
    font-size: 1.5em;

    margin: 0;

    color: #5b596e;
}
.service p
{
    min-height: 8em;
    margin: 0 0 2em;
    padding-top: 1rem;

    color: #002f4b;
}
.service .button
{
    padding: .5em 2em;
}

.service img
{
    height: 128px;
}

/*Past Work Styles*/


#portfolio
{
/*    position: relative;

    overflow: hidden;

    width: 100%;
    padding-bottom: 3rem;*/

    background: rgba(0, 47, 75, .68);
}

/*#portfolio .title
{
    font-size: 3rem;

    text-align: center;

    color: #fff;
}*/
#portfolio h3
{
    font-size: 1.75rem;

    margin-bottom: 1rem;
}

.current
{
    background: green;
}

.project-container
{
    position: relative;

    overflow: hidden;

    width: 100%;
    min-height: 310px;
    margin: 1%;
    padding-top: 1em;

    border-radius: 10px;
    background-position: center;
    background-size: cover;
}

.trails
{
    background-image: url('./assets/trails.png');
}
.fin
{
    background-image: url('./assets/sea.png');
}

.tw
{
    background-image: url('./assets/tw2.png');
}

.project-overlay
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 1.5rem;

    transition: .5s ease;

    opacity: 0;
    color: #fff;
    background-color: rgba(255, 65, 54, 1);
}



.project-overlay:hover
{
    opacity: 1;
}


.show-mobile
{
    display: block;

    padding: 3.5rem 1.5rem;

    color: #fff;
}


/*Contact Section */


#contact
{
    /*padding: 8em 0 8em 0;*/
}
/*#contact .title
{
    font-size: 3rem;
    

    margin: 0;
}*/

#contact p
{
    margin: 2.5em 0;
}


/*Footer*/

footer
{
    padding: 1.5em 0;

    background: #333;
    color: #fff;
}
footer .copyright
{
    font-weight: 700;

    text-align: center;
}
footer a
{
    text-decoration: none;

    color: green;
}
/*Media Queries*/

@media screen and (min-width: 800px)
{
    nav
    {
        /*position: initial;*/
        z-index: 3;

        display: inline-flex;

        text-align: right;

        background: initial;
    }
    nav a
    {
        width: auto;
    }
    nav a:hover
    {
        padding-top: 1.75em;

        transition: .3s;
    }
    #logo
    {
        display: initial;
    }

    #portfolio
    {
        /*padding-bottom: 8rem;*/
    }
    #menu-button,
    #close-menu
    {
        display: none;
    }

    .hero-text-wrapper .center-wrapper
    {
        text-align: left;
    }
    .service
    {
        display: inline-block;

        width: 31%;
        min-height: 438px;
        margin: 1%;
    }
    .slider img
    {
        width: 100%;
    }
    .project-container
    {
        display: inline-block;

        width: 31%;
    }

    .show-mobile
    {
        display: none;
    }
}
